.button:hover {
    cursor: pointer;
}

.button {
    font-size: 16px;
    font-family: inherit;
    border: none;
}

.main-btn {
    padding: 10px 32px;

    min-width: 200px;
    border-radius: 4px;

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $white-color;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: background-color $transition-duration $transition-cubic-bezier;

    &:hover,
    &:focus,
    &:active {
        background-color: #188CE8;
    }
}
