/* footer start */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $background-color-footer;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.logo__footer {
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 26px;
    color: $white-color;
}

.contacts {
    font-style: inherit;
}

.footer .contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link[target="_blank"] {
    color: $white-color;
}

.footer__link {
    color: $contacts-color;
    transition: color $transition-duration $transition-cubic-bezier;
}

.contacts-wrapper {
    margin-right: 70px;
}

.footer__title {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    font-size: inherit;
    text-transform: uppercase;
    color: $white-color;
}

.footer .social__link {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer .social__icon {
    fill: $white-color;
}

.subscription-form {
    margin-left: auto;
}

.subscription-form__wrapper {
    display: flex;
}

.subscription-form__input {
    margin-right: 10px;
    padding: 15px;

    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: rgba(0, 0, 0, 0);
    caret-color: $white-color;
    color: $white-color;

    font-size: 16px;
    line-height: 1.25;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    
        font-size: 16px;
        line-height: 1.25;
    }
}

.footer .main-btn {
    display: flex;
    align-items: center;
    padding: 10px 28px;
}

.subscription-form__icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/* footer end */
