/* Start header */

.header {
    border: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: 92px;
}

.nav__logo {
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 26px;
    color: $black-color;
}

.nav__list {
    display: flex;
    align-items: center;

    color: $primary-color;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.header__link {
    display: flex;
    align-items: center;
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;

    transition: color $transition-duration $transition-cubic-bezier;
}

.header__link--active-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;

    border-radius: 2px;
    width: 100%;
    height: 4px;

    background-color: $accent-color;
}

.header .contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-list__icon {
    margin-right: 10px;
    fill: current;
}

.header .contacts-list__item:not(:last-child) {
    margin-right: 50px;
}

/* End header */
