.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
}

.social__item:not(:last-child) {
    margin-right: 10px;
}